
@{
    ViewBag.Title = "Yazarlar";
    Layout = "~/Views/Shared/_Layout - Copy.cshtml";
}
@using BookStore.Models
@model author
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Yazarlar</h1>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<section class="content">
    <div class="container-fluid">
        <table class="table table-bordered">
            <tr>
                <th>Resim</th>
                <th>Yazar adı</th>
                <th>Açıklama</th>
                <th>Sil</th>
            </tr>
            @foreach (author item in ViewBag.Yazarlar)
            {
                <tr>
                    <td><img src="@item.aImage" alt="..." style="width:15%;"></td>
                    <td>
                        <a href="/Author/Detail?id=@item.id" target="_blank">
                            @item.aName
                        </a>
                    </td>
                    <td>@item.aDescription</td>
                    <td>Sil</td>
                </tr>
            }
        </table>
    </div>
</section>

